<div class="homeViewContainer"> 
<div class="linkContainer">
<p><b>Heartly welcome to examcolors.com</b></p>
<p>

examcolors.com is only for the aspirants who are preparing for BANK EXAMS.
</p>
<p>examcolours.com could able to analyse the previous SBI exams and it's pattern.

We will help you to get the idea of sample SBI online exam with free of cost.</p>
<ul class="nav nav-pills nav-stacked">
 <li>
 <a ng-href="#/exam?exam_name=sbi clerk">Click here for sample exam of SBI clerk 2014.</a>
 </li> 
  <li>
 <a href="https://www.sbi.co.in/webfiles/uploads/files/1400852958172_SBI_RECRUITMENT_OF_ASSISTANTS_CLERICAL_CADRE.pdf">click here for SBI notification details</a>
 </li> 
</ul>

</div>
<div class="socialmediaContainer">

</div>
<div class="aboutUsContainer">
<p><b>Thank you for your valuable support.</b></p>

</div>
<div class="aboutSiteContainer">
<p><b>About this site:</b></p>
<p>Examcolors.com conduct online exams practice sessions for bank exam, ibps exams</p>
</div>
</div >





